In [1]:
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path
import os
import seaborn as sns
%matplotlib inline

In [2]:
#Creating dataframe of index based on alcohol stocks and tobacco stocks respectively

In [41]:
# Import alcohol stock CSVs
abev_csv = Path("./data/ABEV.csv")
brew_csv = Path("./data/BREW.csv")
bud_csv = Path("./data/BUD.csv")
deo_csv = Path("./data/DEO.csv")
fmx_csv = Path("./data/FMX.csv")
sam_csv = Path("./data/SAM.csv")
stz_csv = Path("./data/STZ.csv")
tap_csv = Path("./data/TAP.csv")
wvvi_csv = Path("./data/WVVI.csv")


# Read CSVs for alcohol stocks
abev_df = pd.read_csv(abev_csv, index_col="date", infer_datetime_format=True, parse_dates=True)
brew_df = pd.read_csv(brew_csv, index_col="date", infer_datetime_format=True, parse_dates=True)
bud_df = pd.read_csv(bud_csv, index_col="date", infer_datetime_format=True, parse_dates=True)
deo_df = pd.read_csv(deo_csv, index_col="date", infer_datetime_format=True, parse_dates=True)
fmx_df = pd.read_csv(fmx_csv, index_col="date", infer_datetime_format=True, parse_dates=True)
sam_df = pd.read_csv(sam_csv, index_col="date", infer_datetime_format=True, parse_dates=True)
stz_df = pd.read_csv(stz_csv, index_col="date", infer_datetime_format=True, parse_dates=True)
tap_df = pd.read_csv(tap_csv, index_col="date", infer_datetime_format=True, parse_dates=True)
wvvi_df = pd.read_csv(wvvi_csv, index_col="date", infer_datetime_format=True, parse_dates=True)



# Import tobacco stock CSVs
mo_csv = Path("./data/MO.csv")
pm_csv = Path("./data/PM.csv")

# Read Tobacco CSVs
mo_df = pd.read_csv(mo_csv, index_col="date", infer_datetime_format=True, parse_dates=True)
pm_df = pd.read_csv(pm_csv, index_col="date", infer_datetime_format=True, parse_dates=True)


# import biotech csv
xbi_csv = Path("./data/XBI.csv")

# read biotech csv
xbi_df = pd.read_csv(xbi_csv, index_col="date", infer_datetime_format=True, parse_dates=True)


# import pharmaceutical csv
xph_csv = Path("./data/XPH.csv")

#read pharmaceutical csv
xph_df = pd.read_csv(xph_csv, index_col="date", infer_datetime_format=True, parse_dates=True)


#import MJ csv
mj_csv = Path("./data/MJETF.csv")

#read MJ csv

mj_df = pd.read_csv(mj_csv, index_col="date", infer_datetime_format=True, parse_dates=True)


#import SPY csv
spy_csv = Path("./data/SPYETF.csv")


#read SPY csv
spy_df = pd.read_csv(spy_csv, index_col="date", infer_datetime_format=True, parse_dates=True)

In [42]:
# combine CSVs into indexes
alcohol_index = pd.concat([abev_df, brew_df, bud_df, deo_df, fmx_df, sam_df, stz_df, tap_df, wvvi_df], axis=1 , join="inner")
alcohol_index.drop(columns = ["volume", "open", "high", "low"], inplace = True)
alcohol_index.columns = ["ABEV", "BREW", "BUD", "DEO", "FMX", "SAM", "STZ", "TAP", "WVVI"]
alcohol_index.head()

,ABEV,BREW,BUD,DEO,FMX,SAM,STZ,TAP,WVVI
date,,,,,,,,,
2019-09-21 16:00:00,4.69,9.09,95.74,161.41,92.93,388.07,203.84,57.55,7.1200
2019-09-16 00:00:00,4.69,9.09,95.74,161.41,92.93,388.07,203.84,57.55,7.1200
2019-09-13 00:00:00,4.66,9.24,96.40,163.24,93.61,389.36,204.07,57.17,7.2000
2019-09-12 00:00:00,4.79,9.13,97.47,166.57,92.90,392.54,203.97,56.25,7.1241
2019-09-11 00:00:00,4.65,9.32,94.27,165.79,92.80,390.48,206.77,56.38,7.1741

In [13]:
# create tocacco index
tobacco_index = pd.concat([mo_df, pm_df], axis=1, join="inner")
tobacco_index.drop(columns = ["volume", "open", "high", "low"], inplace = True)
tobacco_index.columns = ["MO", "PM"]

tobacco_index.head()

                        MO     PM
date
2019-09-21 16:00:00  41.41  72.60
2019-09-16 00:00:00  41.41  72.60
2019-09-13 00:00:00  42.01  73.05
2019-09-12 00:00:00  44.46  74.90
2019-09-11 00:00:00  44.72  75.07

In [14]:
# biotech index
biotech_index = xbi_df
biotech_index.drop(columns = ["volume", "open", "high", "low"], inplace = True)
biotech_index.columns = ["XBI"]

biotech_index.head()

                       XBI
date
2019-09-21 16:00:00  82.79
2019-09-18 00:00:00  82.79
2019-09-17 00:00:00  83.57
2019-09-16 00:00:00  83.86
2019-09-13 00:00:00  82.42

In [15]:
#pharma index
pharma_index = xph_df
pharma_index.drop(columns = ["volume", "open", "high", "low"], inplace = True)
pharma_index.columns = ["XPH"]

pharma_index.head()

                       XPH
date
2019-09-21 16:00:00  37.30
2019-09-18 00:00:00  37.30
2019-09-17 00:00:00  37.53
2019-09-16 00:00:00  37.64
2019-09-13 00:00:00  37.31

In [21]:
# MJ index
mj_index = mj_df
mj_index.columns = ["MJ"]

mj_index.head()

                        MJ
date
2019-09-21 16:00:00  24.59
2019-09-16 00:00:00  24.59
2019-09-13 00:00:00  25.22
2019-09-12 00:00:00  25.08
2019-09-11 00:00:00  25.71

In [45]:
#SPY index
spy_index = spy_df
spy_index.drop(columns = ["volume", "open", "high", "low"], inplace = True)
spy_index.columns = ["SPY"]
spy_index.head()

                        SPY
date
2019-09-21 16:00:00  300.16
2019-09-16 00:00:00  300.16
2019-09-13 00:00:00  301.09
2019-09-12 00:00:00  301.29
2019-09-11 00:00:00  300.25

In [94]:
alcohol_weights = [.1278, .0003, .3228, .1640, .2881, .007, .0675, .021, .00006]
tobacco_weights = [.4076, .5882]

weighted_alcohol_index = alcohol_index.dot(alcohol_weights).round(2)
weighted_tobacco_index = tobacco_index.dot(tobacco_weights).round(2)

In [95]:
#weighted_alcohol_index.columns = ["BOOZ"]
#weighted_alcohol_index = weighted_alcohol_index, round(2)
#weighted_alcohol_index = round(weighted_alcohol_index,2)
weighted_alcohol_index

date
2019-09-21 16:00:00    102.44
2019-09-16 00:00:00    102.44
2019-09-13 00:00:00    103.16
2019-09-12 00:00:00    103.86
2019-09-11 00:00:00    102.83
2019-09-10 00:00:00    102.65
2019-09-09 00:00:00    103.71
2019-09-06 00:00:00    103.36
2019-09-05 00:00:00    102.66
2019-09-04 00:00:00    104.65
2019-09-03 00:00:00    103.51
2019-08-30 00:00:00    103.44
2019-08-29 00:00:00    102.95
2019-08-28 00:00:00    101.98
2019-08-27 00:00:00    101.29
2019-08-26 00:00:00    101.90
2019-08-23 00:00:00    101.13
2019-08-22 00:00:00    102.33
2019-08-21 00:00:00    102.55
2019-08-20 00:00:00    101.78
2019-08-19 00:00:00    101.90
2019-08-16 00:00:00    101.88
2019-08-15 00:00:00     99.93
2019-08-14 00:00:00     98.83
2019-08-13 00:00:00    100.79
2019-08-12 00:00:00    101.03
2019-08-09 00:00:00    102.10
2019-08-08 00:00:00    101.96
2019-08-07 00:00:00    101.42
2019-08-06 00:00:00    100.54
                        ...
2016-10-27 00:00:00     99.86
2016-10-26 00:00:00     99.82
2016-10-25 00:00:00    101.33
2016-10-24 00:00:00    102.23
2016-10-21 00:00:00    102.54
2016-10-20 00:00:00    102.54
2016-10-19 00:00:00    103.17
2016-10-18 00:00:00    102.71
2016-10-17 00:00:00    102.36
2016-10-14 00:00:00    102.79
2016-10-13 00:00:00    102.34
2016-10-12 00:00:00    102.47
2016-10-11 00:00:00    102.56
2016-10-10 00:00:00    103.10
2016-10-07 00:00:00    101.95
2016-10-06 00:00:00    102.57
2016-10-05 00:00:00    103.24
2016-10-04 00:00:00    103.06
2016-10-03 00:00:00    102.91
2016-09-30 00:00:00    103.38
2016-09-29 00:00:00    102.90
2016-09-28 00:00:00    104.24
2016-09-27 00:00:00    103.64
2016-09-26 00:00:00    102.87
2016-09-23 00:00:00    102.85
2016-09-22 00:00:00    102.83
2016-09-21 00:00:00    101.36
2016-09-20 00:00:00     99.61
2016-09-19 00:00:00     98.87
2016-09-16 00:00:00     98.53
Length: 755, dtype: float64

In [91]:
weighted_tobacco_index.columns = ["SMOK"]

weighted_tobacco_index.head()

date
2019-09-21 16:00:00    59.582036
2019-09-16 00:00:00    59.582036
2019-09-13 00:00:00    60.091286
2019-09-12 00:00:00    62.178076
2019-09-11 00:00:00    62.384046
dtype: float64

In [96]:
#clean data / drop null
weighted_alcohol_index.isnull().sum()
weighted_tobacco_index.isnull().sum()
mj_index.isnull().sum()
biotech_index.isnull().sum()
pharma_index.isnull().sum()
spy_index.isnull().sum()

SPY    0
dtype: int64

In [97]:
total_df = pd.concat(
    [weighted_alcohol_index, weighted_tobacco_index, mj_index, biotech_index, pharma_index, spy_index], axis=1, join="inner"
                    )

In [98]:
total_df.columns = ["BOOZ", "SMOK", "MJ", "XBI", "XPH", "SPY"]

In [99]:
total_df

                       BOOZ   SMOK       MJ    XBI      XPH     SPY
date
2019-09-21 16:00:00  102.44  59.58  24.5900  82.79  37.3000  300.16
2019-09-16 00:00:00  102.44  59.58  24.5900  83.86  37.6400  300.16
2019-09-13 00:00:00  103.16  60.09  25.2200  82.42  37.3100  301.09
2019-09-12 00:00:00  103.86  62.18  25.0800  82.63  37.3700  301.29
2019-09-11 00:00:00  102.83  62.38  25.7100  83.38  37.6000  300.25
2019-09-10 00:00:00  102.65  61.85  25.4900  81.73  36.9500  298.13
2019-09-09 00:00:00  103.71  61.07  25.0200  79.32  35.7900  298.20
2019-09-06 00:00:00  103.36  60.79  25.7300  79.47  35.8700  298.05
2019-09-05 00:00:00  102.66  60.19  25.3300  80.34  35.3600  297.82
2019-09-04 00:00:00  104.65  61.01  24.2800  79.17  35.1300  294.04
2019-09-03 00:00:00  103.51  60.69  24.6500  78.66  35.0300  290.74
2019-08-30 00:00:00  103.44  60.23  24.0100  80.37  35.4600  292.45
2019-08-29 00:00:00  102.95  60.81  24.2600  81.11  35.5300  292.58
2019-08-28 00:00:00  101.98  62.40  24.0400  80.06  35.1900  288.89
2019-08-27 00:00:00  101.29  60.62  23.8000  78.92  34.9100  286.87
2019-08-26 00:00:00  101.90  64.93  24.7000  80.20  35.6700  288.00
2019-08-23 00:00:00  101.13  66.69  24.7800  79.44  35.3900  284.85
2019-08-22 00:00:00  102.33  67.78  25.4100  81.62  36.3400  292.36
2019-08-21 00:00:00  102.55  67.70  26.0100  83.26  36.5600  292.45
2019-08-20 00:00:00  101.78  67.58  25.8000  82.47  36.3000  290.09
2019-08-19 00:00:00  101.90  69.04  25.9800  83.39  36.5800  292.33
2019-08-16 00:00:00  101.88  68.89  26.2500  82.46  35.9200  288.85
2019-08-15 00:00:00   99.93  68.24  25.7100  80.33  35.4500  284.65
2019-08-14 00:00:00   98.83  67.71  27.1200  81.25  35.7000  283.90
2019-08-13 00:00:00  100.79  68.45  28.9200  83.61  36.8900  292.55
2019-08-12 00:00:00  101.03  67.20  28.2300  82.47  36.4779  288.07
2019-08-09 00:00:00  102.10  67.39  28.5500  84.03  37.0700  291.62
2019-08-08 00:00:00  101.96  67.47  28.7100  84.80  37.5200  293.62
2019-08-07 00:00:00  101.42  66.70  28.4900  83.33  36.7700  287.97
2019-08-06 00:00:00  100.54  66.65  28.2400  83.08  36.7200  287.80
...                     ...    ...      ...    ...      ...     ...
2016-10-28 00:00:00   97.98  83.50  31.8783  56.84  40.4800  212.54
2016-10-27 00:00:00   99.86  82.60  31.8783  57.13  41.6200  213.17
2016-10-26 00:00:00   99.82  82.79  32.0399  57.99  41.8100  213.74
2016-10-25 00:00:00  101.33  83.18  32.4999  58.67  42.3600  214.17
2016-10-24 00:00:00  102.23  83.48  32.1092  59.15  42.2000  214.89
2016-10-21 00:00:00  102.54  82.61  32.1092  59.73  42.3100  213.98
2016-10-20 00:00:00  102.54  81.42  32.1092  59.89  42.5800  213.88
2016-10-19 00:00:00  103.17  81.69  32.0500  58.82  42.2200  214.28
2016-10-18 00:00:00  102.71  82.34  31.7100  59.89  42.4200  213.71
2016-10-17 00:00:00  102.36  81.63  30.8130  59.07  41.8500  212.38
2016-10-14 00:00:00  102.79  81.82  30.8130  59.56  42.1900  213.12
2016-10-13 00:00:00  102.34  82.14  30.8130  61.34  42.9500  213.01
2016-10-12 00:00:00  102.47  82.01  30.8130  61.27  42.8000  213.71
2016-10-11 00:00:00  102.56  81.45  31.0478  63.44  43.6400  213.43
2016-10-10 00:00:00  103.10  81.78  31.1000  65.52  44.9200  216.16
2016-10-07 00:00:00  101.95  81.72  30.7190  64.15  44.1000  215.04
2016-10-06 00:00:00  102.57  81.44  30.8200  64.66  44.3700  215.78
2016-10-05 00:00:00  103.24  81.23  30.8800  66.72  45.1200  215.63
2016-10-04 00:00:00  103.06  81.71  30.8800  65.66  44.6100  214.68
2016-10-03 00:00:00  102.91  82.92  30.8800  66.18  44.6200  215.78
2016-09-30 00:00:00  103.38  82.96  30.3650  66.29  44.1900  216.30
2016-09-29 00:00:00  102.90  83.12  30.6200  65.52  43.9300  214.68
2016-09-28 00:00:00  104.24  84.47  30.6200  67.80  46.1000  216.64
2016-09-27 00:00:00  103.64  84.24  30.1700  68.75  46.1900  215.57
2016-09-26 00:00:00  102.87  84.01  30.1700  67.77  45.6800  214.24
2016-09-23 00:00:00  102.85  85.75  30.1700  68.14  46.9100  215.99
2016-09-22 00:00:00  102.83  85.97  30.4600  68.83  46.5600  217.18
2016-09-21 00:00:00  101.36  85.08  29.4570  68.28  46.2700  215.82
2016-09-20 00:00:00   99.61  84.02  29.4570  67.51  46.1200  213.42
2016-09-19 00:00:00   98.87  83.69  29.4570  65.89  46.0000  213.41

[754 rows x 6 columns]

In [100]:
total_df.to_csv("aggregate_data.csv")